.multimedia {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  @include flex(column);
  overflow: hidden;
  .back {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    font-size: 17px;
    color: rgb(131, 127, 127);
    z-index: 10;
    @include horizontal {
      display: none;
    }
  }
  .player {
    height: 40%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    .box {
      @include box;
    }
    .video-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      @include flex(row);
      align-items: center;
      justify-content: center;
      div {
        width: 90%;
        position: relative;
        .video-overlay {
          width: 100%;
          height: 98%;
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          border-radius: 10px;
          background: rgba($color: black, $alpha: 0.6);
          z-index: 2;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s ease-in-out;
          @include flex(row);
          color: white;
          .inner-video-overlay {
            @include horizontal {
              position: fixed;
              right: 0;
              bottom: 0;
              min-width: 100%;
              min-height: 100%;
              border-radius: 0px;
            }
            width: 100%;
            height: 100%;
            @include flex(row);
            .play-pause {
              position: absolute;
              display: block;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              .play-pause-icon {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.8);
              }
              z-index: 4;
            }
            .left-video-overlay {
              width: 50%;
              height: 100%;
            }
            .right-video-overlay {
              width: 50%;
              height: 100%;
            }
          }
          @include horizontal {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            border-radius: 0px;
          }
        }

        .video-overlay-active {
          opacity: 1;
          visibility: visible;
        }

        .progress-wrapper {
          width: 100%;
          height: 10%;
          position: absolute;
          display: block;
          z-index: 4;
          right: 0;
          bottom: 0;
          @include flex(column);
          align-items: center;
          justify-content: center;
          transform: translateY(120%);
          transition: all 0.3s ease-in-out;
          @include horizontal {
            position: fixed;
            bottom: 5%;
            // opacity: 0;
          }
          .times {
            width: 100%;
            @include flex(row);
            align-items: center;
            justify-content: space-between;
            // div {
            //   // @include flex(row);
            // }
            #total-time {
              text-align: right;
            }
          }
          .progress {
            position: relative;
            z-index: 4;
            width: 100%;
            -webkit-appearance: none;
            height: 2px;
            background: rgba($color: white, $alpha: 0.6);
            border-radius: 5px;
            outline: none;
            border: none;
          }
          .progress::-webkit-slider-thumb {
            @include inputThumb;
          }
          .progress::-webkit-progress-value {
            @include inputThumb;
          }
          .progress::-moz-range-thumb {
            @include inputThumb;
          }
          .progress::-moz-range-progress {
            background: red;
          }
        }
      }

      @include horizontal {
        .progress-wrapper-active {
          // transform: translateY(0px);
          opacity: 1;
        }
      }

      video {
        width: 100%;
        border-radius: 10px;
        position: relative;
        border-radius: 10px;
        @include horizontal {
          position: fixed;
          right: 0;
          bottom: 0;
          min-width: 100%;
          min-height: 100%;
          border-radius: 0px;
        }
      }
    }
  }
}

.suggestions {
  height: 60%;
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
  border-top: 1px solid rgba($color: silver, $alpha: 0.6);
  border-radius: 10px;
  @include horizontal {
    display: none;
  }
  .inner-suggestions {
    width: 100%;
    height: 100%;
    @include flex(column);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 30px;
    .poster {
      @include format;
    }
  }
}
// }

.multimedia-active {
  transform: translateY(0%);
  opacity: 1;
}
