@import "color";
@import "mixin";
@import "media";
@import "modal";
@import "search";
@import "home";
@import "multimedia";
@import "loader";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  background: black;
  color: white;
  @include mobile {
    display: block;
  }
}
