.modal {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.modal .hidden-div {
  width: 50%;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: all 0.4s ease-out;
}
.modal .hidden-div-active {
  transform: translateX(0%);
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.wrapper #home {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.wrapper #home .home-header {
  width: 100%;
  height: 8%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid silver;
}
.wrapper #home .home-header .first-home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper #home .home-header .first-home-header .burger {
  margin-left: 7%;
  margin-right: 10px;
}
.wrapper #home .home-header .first-home-header .burger div {
  width: 17px;
  height: 2px;
  background: black;
  margin: 2px;
}
.wrapper #home .home-header .first-home-header img {
  width: 70px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper #home .home-header .second-home-header {
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper #home .home-videos {
  width: 100%;
  height: 92%;
}
.wrapper #home .home-videos .inner-home-videos {
  display: flex(column);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.wrapper #home .home-videos .inner-home-videos .poster {
  width: 100%;
  height: 200px;
  background: white;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-image {
  height: 80%;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.multimedia {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  transform: translateY(100%);
  transition: all 0.3s ease-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.multimedia .player {
  height: 40%;
  width: 100%;
  position: relative;
  border-bottom: 1px solid silver;
}
.multimedia .player video {
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 10px;
}
.multimedia .suggestions {
  height: 70%;
  width: 100%;
  padding-top: 10px;
}
.multimedia .suggestions .inner-suggestions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.multimedia .suggestions .inner-suggestions .suggestion {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
}
.multimedia .suggestions .inner-suggestions .suggestion img {
  width: 50%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.multimedia-active {
  transform: translateY(0%);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: none;
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 800px) {
  body {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */