@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes videoloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes videoloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.modal .hidden-div {
  width: 50%;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: all 0.4s ease-out;
}
.modal .hidden-div-active {
  transform: translateX(0%);
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.wrapper #home {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.wrapper #home .home-header {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid silver;
}
.wrapper #home .home-header .first-home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper #home .home-header .first-home-header .burger {
  margin-left: 7%;
  margin-right: 10px;
}
.wrapper #home .home-header .first-home-header .burger div {
  width: 17px;
  height: 2px;
  background: black;
  margin: 2px;
}
.wrapper #home .home-header .first-home-header img {
  width: 70px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper #home .home-header .second-home-header {
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper #home .home-videos {
  width: 100%;
  height: 92%;
}
.wrapper #home .home-videos .inner-home-videos {
  display: flex(column);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 30px;
}
.wrapper #home .home-videos .inner-home-videos .poster {
  width: 90%;
  background: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-image {
  position: relative;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-txt {
  display: flex;
  flex-direction: row;
  gap: 0.02em;
  align-items: center;
  padding-top: 2%;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-txt .poster-txt-img {
  width: 17%;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-txt .poster-txt-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid silver;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-txt .poster-txt-txt h4 {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  line-height: 16px;
}
.wrapper #home .home-videos .inner-home-videos .poster .poster-txt .poster-txt-txt p {
  font-weight: 300;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding-top: 2px;
}

.multimedia {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.multimedia .back {
  position: fixed;
  top: 2%;
  left: 2%;
  font-size: 17px;
  color: #837f7f;
  z-index: 10;
}
.multimedia .player {
  height: 40%;
  width: 100%;
  position: relative;
  border-radius: 10px;
}
.multimedia .player .box {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: transparent;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}
.multimedia .player .box::after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0) translateY(-200px);
}
.multimedia .player .box .wave-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.multimedia .player .box .wave-wrapper .wave {
  opacity: 0.7;
  position: absolute;
  top: 20%;
  left: 50%;
  background: orange;
  box-shadow: 0px -5px 2px orange;
  width: 240px;
  height: 260px;
  margin-left: -120px;
  margin-top: -45px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
  filter: blur(1.5px);
}
.multimedia .player .box .wave-wrapper .wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}
.multimedia .player .box .wave-wrapper .wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}
.multimedia .player .box .wave-wrapper .title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 1;
  transform: translate3d(0, 0, 0) translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.multimedia .player .box .wave-wrapper .title .video-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left: 2px solid black;
  transform: translateY(70px);
  -webkit-animation: videoloader 2s ease-in-out infinite;
          animation: videoloader 2s ease-in-out infinite;
}
.multimedia .player video {
  width: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.multimedia .control {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.multimedia .control .control-first {
  width: 90%;
  height: 60%;
}
.multimedia .control .control-first .progress-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 10px 20px 10px;
}
.multimedia .control .control-first .progress-wrapper .progress {
  width: 100%;
  height: 3px;
  background: #dddcdc;
  border-radius: 4px;
}
.multimedia .control .control-first .progress-wrapper .progress .juice {
  width: 0%;
  height: 100%;
  background: orange;
  position: relative;
}
.multimedia .control .control-first .progress-wrapper .progress .juice::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  display: block;
  background: orange;
  border-radius: 50%;
  right: 0;
  top: -100%;
}
.multimedia .control .control-second {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.multimedia .control .control-second i {
  font-size: 25px;
  color: orange;
}
.multimedia .control .control-second .play-pause {
  transform: scale(1.5);
}
.multimedia .control .control-second .forward .rewind {
  color: rgba(223, 159, 41, 0.884);
}
.multimedia .suggestions {
  height: 45%;
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}
.multimedia .suggestions .inner-suggestions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 30px;
}
.multimedia .suggestions .inner-suggestions .poster {
  width: 90%;
  background: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.multimedia .suggestions .inner-suggestions .poster .poster-image {
  position: relative;
}
.multimedia .suggestions .inner-suggestions .poster .poster-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.multimedia .suggestions .inner-suggestions .poster .poster-txt {
  display: flex;
  flex-direction: row;
  gap: 0.02em;
  align-items: center;
  padding-top: 2%;
}
.multimedia .suggestions .inner-suggestions .poster .poster-txt .poster-txt-img {
  width: 17%;
}
.multimedia .suggestions .inner-suggestions .poster .poster-txt .poster-txt-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid silver;
}
.multimedia .suggestions .inner-suggestions .poster .poster-txt .poster-txt-txt h4 {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  line-height: 16px;
}
.multimedia .suggestions .inner-suggestions .poster .poster-txt .poster-txt-txt p {
  font-weight: 300;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding-top: 2px;
}

.multimedia-active {
  transform: translateY(0%);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: none;
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 800px) {
  body {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */